@use "globals" as *;

.btn {
    background-color: $background-color-button-default;
    font-size: $font-size-button;
    color: $color-dark;
    display: block;
    text-align: center;

    &:hover {
        background-color: $background-color-button-hover;
        color: $color-light;
    }
}

.btn-login{
    padding: $padding-button-login;
    width: $width-button-login;
}

.btn-form{
    padding: $padding-button-form;
    width: $width-button-form;
}