@use "globals" as *;

.card-grid {

    .card {
        background-color: $background-color-card;
        padding: $padding-card;

        @include respond-to("large") {
            background-color: white;
        }

        img {
            width: $width-card-img;

        }

    }

    //Estoy seguro de que esto se puede hacer con un for.
    .card:nth-child(1) {
        grid-column: $grid-column-card1-huge;
        grid-row: $grid-row-card1-huge;
    }

    .card:nth-child(2) {
        grid-column: $grid-column-card2-huge;
        grid-row: $grid-row-card2-huge;
    }

    .card:nth-child(3) {
        grid-column: $grid-column-card3-huge;
        grid-row: $grid-row-card3-huge;
    }

    .card:nth-child(4) {
        grid-column: $grid-column-card4-huge;
        grid-row: $grid-row-card4-huge;
    }

    .card:nth-child(5) {
        grid-column: $grid-column-card5-huge;
        grid-row: $grid-row-card5-huge;
    }

    .card:nth-child(6) {
        grid-column: $grid-column-card6-huge;
        grid-row: $grid-row-card6-huge;
    }

    .card:nth-child(7) {
        grid-column: $grid-column-card7-huge;
        grid-row: $grid-row-card7-huge;
    }

    .card:nth-child(8) {
        grid-column: $grid-column-card8-huge;
        grid-row: $grid-row-card8-huge;
    }
}