@use "globals" as *;

.card-grid {

    .card {
        background-color: $background-color-card;
        padding: $padding-card;

        img {
            width: $width-card-img;

        }

    }

    //Estoy seguro de que esto se puede hacer con un for.
    .card:nth-child(1) {
        grid-column: $grid-column-card1-huge;
        grid-row: $grid-row-card1-huge;

        @include respond-to("large") {
            grid-column: $grid-column-card1-large;
            grid-row: $grid-row-card1-large;
        }

        @include respond-to("medium") {
            grid-column: $grid-column-cardodd-medium;
            grid-row: $grid-row-card1-medium;
        }

        @include respond-to("narrow") {
            grid-column: $grid-column-card-narrow;
            grid-row: $grid-row-card1-narrow;
        }
    }

    .card:nth-child(2) {
        grid-column: $grid-column-card2-huge;
        grid-row: $grid-row-card2-huge;

        @include respond-to("large") {
            grid-column: $grid-column-card2-large;
            grid-row: $grid-row-card2-large;
        }

        @include respond-to("medium") {
            grid-column: $grid-column-cardeven-medium;
            grid-row: $grid-row-card2-medium;
        }

        @include respond-to("narrow") {
            grid-column: $grid-column-card-narrow;
            grid-row: $grid-row-card2-narrow;
        }
    }

    .card:nth-child(3) {
        grid-column: $grid-column-card3-huge;
        grid-row: $grid-row-card3-huge;

        @include respond-to("large") {
            grid-column: $grid-column-card3-large;
            grid-row: $grid-row-card3-large;
        }

        @include respond-to("medium") {
            grid-column: $grid-column-cardodd-medium;
            grid-row: $grid-row-card3-medium;
        }

        @include respond-to("narrow") {
            grid-column: $grid-column-card-narrow;
            grid-row: $grid-row-card3-narrow;
        }
    }

    .card:nth-child(4) {
        grid-column: $grid-column-card4-huge;
        grid-row: $grid-row-card4-huge;

        @include respond-to("large") {
            grid-column: $grid-column-card4-large;
            grid-row: $grid-row-card4-large;
        }

        @include respond-to("medium") {
            grid-column: $grid-column-cardeven-medium;
            grid-row: $grid-row-card4-medium;
        }

        @include respond-to("narrow") {
            grid-column: $grid-column-card-narrow;
            grid-row: $grid-row-card4-narrow;
        }
    }

    .card:nth-child(5) {
        grid-column: $grid-column-card5-huge;
        grid-row: $grid-row-card5-huge;

        @include respond-to("large") {
            grid-column: $grid-column-card5-large;
            grid-row: $grid-row-card5-large;
        }

        @include respond-to("medium") {
            grid-column: $grid-column-cardodd-medium;
            grid-row: $grid-row-card5-medium;
        }

        @include respond-to("narrow") {
            grid-column: $grid-column-card-narrow;
            grid-row: $grid-row-card5-narrow;
        }
    }

    .card:nth-child(6) {
        grid-column: $grid-column-card6-huge;
        grid-row: $grid-row-card6-huge;

        @include respond-to("large") {
            grid-column: $grid-column-card6-large;
            grid-row: $grid-row-card6-large;
        }

        @include respond-to("medium") {
            grid-column: $grid-column-cardeven-medium;
            grid-row: $grid-row-card6-medium;
        }

        @include respond-to("narrow") {
            grid-column: $grid-column-card-narrow;
            grid-row: $grid-row-card6-narrow;
        }
    }

    .card:nth-child(7) {
        grid-column: $grid-column-card7-huge;
        grid-row: $grid-row-card7-huge;

        @include respond-to("large") {
            grid-column: $grid-column-card7-large;
            grid-row: $grid-row-card7-large;
        }

        @include respond-to("medium") {
            grid-column: $grid-column-cardodd-medium;
            grid-row: $grid-row-card7-medium;
        }

        @include respond-to("narrow") {
            grid-column: $grid-column-card-narrow;
            grid-row: $grid-row-card7-narrow;
        }
    }

    .card:nth-child(8) {
        grid-column: $grid-column-card8-huge;
        grid-row: $grid-row-card8-huge;

        @include respond-to("large") {
            grid-column: $grid-column-card8-large;
            grid-row: $grid-row-card8-large;
        }

        @include respond-to("medium") {
            grid-column: $grid-column-cardeven-medium;
            grid-row: $grid-row-card8-medium;
        }

        @include respond-to("narrow") {
            grid-column: $grid-column-card-narrow;
            grid-row: $grid-row-card8-narrow;
        }
    }
}