@use "globals" as *;

body {
    background-color: $background-color-body;
    font-family: $font-family;
}


main {
    background-color: $background-color-main;
    width: $width-main;
    margin: 0 auto;
    padding-top: $padding-top-main;
    padding-bottom: $padding-bottom-main;

    .container-form {
        display: grid;
        grid-template-columns: $grid-template-columns;
        gap: $gap;
        margin-bottom: $margin-bottom-container-form;
    }

    input,
    select {
        border-color: $background-color-sort;
        border-style: solid;
        border-radius: $border-radius-main-input-select;
        width: $width-main-input-select;
        display: block;
        padding: $padding-main-input-select;
        font-size: $font-size-paragraph;
    }

    .search {
        grid-column: $grid-column-search;

        input {
            margin-top: $margin-top-search-input;
            background-color: $background-color-main;
        }
    }

    .sort {
        grid-column: $grid-column-sort;

        select {
            margin-top: $margin-top-sort-select;
            background-color: $background-color-sort;
            color: $color-dark;
        }
    }

    .card-grid {
        display: grid;
        grid-template-columns: $grid-template-columns;
        gap: $gap;
        text-align: center;
    }


    .login-form {
        display: grid;
        grid-template-columns: $grid-template-columns;
        gap: $gap;

        h2 {
            grid-row-start: $grid-row-start-login-form-h2;
            grid-column: $grid-column-login-form-h2;
            margin-left: $margin-left-login-form-h2;

        }

        fieldset {
            grid-row-start: $grid-row-start-login-form-fieldset;
            grid-column: $grid-column-login-form-fieldset-huge;
        }

        //Prueba con if
        input[type="password"],
        input[type="email"],
        input[type="text"] {
            background-color: $background-color-main;
            margin-bottom: $margin-bottom-login-form-input;
        }
    }

    fieldset {
        padding: $padding-fieldset;
        border-radius: $border-radius-fieldset;
        border-width: $border-width-fieldset;
    }
}