@use "globals" as *;

footer {
    background-color: $background-color-footer;
    color: $color-dark;

    .container {
        width: $width-footer-container;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: $padding-footer;

        @include respond-to("large") {
            width: $width-footer-container-large;
        }

        @include respond-to("medium") {
            width: $width-footer-container-medium;
            padding: $padding-footer-medium;
            display: block;
            text-align: center;

            >div{
                margin-top: $margin-top-footer-div;
            }
        }

        i {
            margin-left: $margin-left-footer-i;
        }
    }
}