@use "globals" as *;

footer {
    background-color: $background-color-footer;
    color: $color-dark;

    .container {
        width: $width-footer-container;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: $padding-footer;

        i {
            margin-left: $margin-left-footer-i;
        }
    }
}