@use "globals" as *;

header {
    background-color: $background-color-header;
    display: flex;
    justify-content: space-between;
    padding: $padding-header;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        img {
            width: $width-header-logo;
            height: $height-header-logo;
        }

        .btn {
            &:first-child {
                margin-bottom: $margin-bottom-header-button-first;
            }
        }
    }

}