@use "globals" as *;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    width: $width-container;
}

.container-form {
    margin: 0 auto;
    width: $width-container-form;
}

h1 {
    font-size: $font-size-h1;
    font-family: $font-family-titulo;
    @include respond-to("narrow") {
        font-size: $font-size-h1-narrow;
    }
}

h2 {
    font-size: $font-size-h2;
}

h3 {
    font-size: $font-size-h3;
}

a {
    text-decoration: none;
}