@font-face {
  font-family: "Rubik Mono One";
  src: url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
}

@font-face {
  font-family: "MergeOne";
  src: url(assets/MergeOne-Regular.woff) format("woff");
}

/* Color */
$background-color-header: #fa5b43;
$background-color-body: #494949;
$background-color-main: #f1f1f1;
$background-color-footer: #181818;

$background-color-button-default: #494949;
$background-color-button-hover: #e52305;

$background-color-sort: #494949;

$color-dark: #f1f1f1;
$color-light: #000000;
$color-subtle: #aeb9c7;


/* Sizes */
$width-header-logo: 7.5rem;
$width-button: 9.375rem;
$width-main: 90%;
$width-container: 70%;
$width-container-form: 78%;
$width-main-input-select: 100%;

$height-header-logo: 7.5rem;
$height-button: 2.8125rem;

$border-radius-main-input-select: 0.3rem;











/* Padding */
$padding-top-main: 2rem;
$padding-bottom-main: 4rem;
$padding-main-input-select: 10px;
$padding-header: 0.5rem 0;

/* Margin */
$margin-bottom-container-form: 3rem;
$margin-top-search-input: 5px;
$margin-top-sort-select: 5px;
$margin-bottom-header-button-first: 1rem;

/* Typography */
$font-family: MergeOne, sans-serif;
$font-family-titulo: Rubik Mono One;

$font-size-h3: 1.625rem;
$font-size-h2: 2.625rem;
$font-size-h1: 4.25rem;
$font-size-button: 1.25rem;
$font-size-paragraph: 1rem;


/* Grid */
$grid-template-columns: repeat(12, 1fr);
$gap: 1rem;

$grid-column-start-search: 2;
$grid-column-end-search: 7;

$grid-column-start-sort: 7;
$grid-column-end-sort: 12;








$breakpoints: (
  "large": "max-width: 1200px",
  "medium": "max-width: 1000px",
  "narrow": "max-width: 800px",
);