@font-face {
  font-family: "Rubik Mono One";
  src: url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
}

@font-face {
  font-family: "MergeOne";
  src: url(assets/MergeOne-Regular.woff) format("woff");
}

/* Color */
$background-color-header: #fa5b43;
$background-color-body: #494949;
$background-color-main: #f1f1f1;
$background-color-footer: #181818;

$background-color-button-default: #494949;
$background-color-button-hover: #e52305;

$background-color-sort: #494949;

$background-color-card: #4a4a4a42;

$color-dark: #f1f1f1;
$color-light: #000000;
$color-subtle: #aeb9c7;


/* Sizes */
$width-header-logo: 7.5rem;
$width-button-login: 9.375rem;
$width-button-form: 5.3125rem;
$width-main: 90%;
$width-main-large: 100%;
$width-container: 75%;
$width-container-form: 78%;
$width-main-input-select: 100%;
$width-card-img: 90%;
$width-footer-container: 70%;
$width-footer-container-large: 85%;
$width-footer-container-medium: 90%;
$width-header-container: 70%;
$width-header-container-large: 85%;

$height-header-logo: 7.5rem;
$height-button: 2.8125rem;

$border-radius-main-input-select: 0.3rem;
$border-radius-fieldset: 2rem;

$border-width-fieldset: 4px;

/* Padding */
$padding-top-main: 2rem;
$padding-bottom-main: 4rem;
$padding-main-input-select: 10px;
$padding-header: 0.5rem 0;
$padding-button-login: 0.7rem 0;
$padding-button-form: 0.4rem 0;
$padding-card: 1rem;
$padding-fieldset: 3rem 5rem;
$padding-footer: 4rem 0;
$padding-footer-medium: 2rem 0;

/* Margin */
$margin-bottom-container-form: 3rem;
$margin-top-search-input: 5px;
$margin-top-sort-select: 5px;
$margin-bottom-header-button-first: 1rem;
$margin-left-login-form-h2: 1rem;
$margin-bottom-login-form-input: 2rem;
$margin-left-footer-i: 24px;
$margin-top-footer-div: 1rem;

/* Typography */
$font-family: MergeOne, sans-serif;
$font-family-titulo: Rubik Mono One;

$font-size-h3: 1.625rem;
$font-size-h2: 2.625rem;
$font-size-h1: 4.25rem;
$font-size-button: 1.25rem;
$font-size-paragraph: 1rem;


/* Grid */
$grid-template-columns: repeat(12, 1fr);
$gap: 1rem;


/* Huge Grid Variables */
$grid-column-card1-huge: #{1 / 4};
$grid-column-card2-huge: #{4 / 7};
$grid-column-card3-huge: #{7 / 10};
$grid-column-card4-huge: #{10 / 13};
$grid-column-card5-huge: #{1 / 4};
$grid-column-card6-huge: #{4 / 7};
$grid-column-card7-huge: #{7 / 10};
$grid-column-card8-huge: #{10 / 13};

$grid-row-card1-huge: #{1 / 2};
$grid-row-card2-huge: #{1 / 2};
$grid-row-card3-huge: #{1 / 2};
$grid-row-card4-huge: #{1 / 2};
$grid-row-card5-huge: #{2 / 3};
$grid-row-card6-huge: #{2 / 3};
$grid-row-card7-huge: #{2 / 3};
$grid-row-card8-huge: #{2 / 3};

$grid-column-search-huge: #{2 / 7};
$grid-column-sort-huge: #{7 / 12};

$grid-column-login-form-fieldset-huge: #{3 / 11};

/* Large GridVariables */
$grid-column-card1-large: #{1 / 5};
$grid-column-card2-large: #{5 / 9};
$grid-column-card3-large: #{9 / 13};
$grid-column-card4-large: #{1 / 5};
$grid-column-card5-large: #{5 / 9};
$grid-column-card6-large: #{9 / 13};
$grid-column-card7-large: #{1 / 5};
$grid-column-card8-large: #{5 / 9};

$grid-row-card1-large: #{1 / 2};
$grid-row-card2-large: #{1 / 2};
$grid-row-card3-large: #{1 / 2};
$grid-row-card4-large: #{2 / 3};
$grid-row-card5-large: #{2 / 3};
$grid-row-card6-large: #{2 / 3};
$grid-row-card7-large: #{3 / 4};
$grid-row-card8-large: #{3 / 4};

$grid-column-search-large: #{1 / 7};
$grid-column-sort-large: #{7 / 13};

$grid-column-login-form-fieldset-large: #{2 / 12};

/* Medium GridVariables */
$grid-column-cardodd-medium: #{1 / 7};
$grid-column-cardeven-medium: #{7 / 13};

$grid-row-card1-medium: #{1 / 2};
$grid-row-card2-medium: #{1 / 2};
$grid-row-card3-medium: #{2 / 3};
$grid-row-card4-medium: #{2 / 3};
$grid-row-card5-medium: #{3 / 4};
$grid-row-card6-medium: #{3 / 4};
$grid-row-card7-medium: #{4 / 5};
$grid-row-card8-medium: #{4 / 5};

/* Narrow GridVariables */
$grid-column-card-narrow: #{1 / 13};

$grid-row-card1-narrow: #{1 / 2};
$grid-row-card2-narrow: #{2 / 3};
$grid-row-card3-narrow: #{3 / 4};
$grid-row-card4-narrow: #{4 / 5};
$grid-row-card5-narrow: #{5 / 6};
$grid-row-card6-narrow: #{6 / 7};
$grid-row-card7-narrow: #{7 / 8};
$grid-row-card8-narrow: #{8 / 9};

$grid-column-search-narrow: #{1 / 13};
$grid-column-sort-narrow: #{1 / 13};


$grid-column-login-form-h2: #{3 / 6};
$grid-row-start-login-form-h2: 1;
$grid-row-start-login-form-fieldset: 2;



$breakpoints: (
  "large": "max-width: 1154px",
  "medium": "max-width: 800px",
  "narrow": "max-width: 550px",
);


// $breakpoints: (
//   "large": "max-width: 1200px",
//   "medium": "max-width: 1000px",
//   "narrow": "max-width: 800px",
// );